<div class="title">sɐǝpl</div>
<div class="circle">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody class="ideas">
      <% @ideas.all.each do |idea| %>
        <tr id="idea_<%= idea.id %>">
          <td><%= idea.title %></td>
          <td><%= limit_body(idea.body) %></td>
          <td><%= idea.quality %></td>
          <td>
            <button class="remove" data-id="<%= idea.id %>">● <p style="display:none">remove</p></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="new-idea">
  <br>
  <br>
  <%= label_tag(:title, "title: ") %>
  <br>
  <%= text_field_tag(:title, "", id: "title") %>
  <br>
  <br>
  <%= label_tag(:body, "body: ") %>
  <br>
  <%= text_field_tag(:body, "", id: "body") %>
  <input type="hidden" name="date" id="lesson_date">
  <br>
  <br>
  <%= submit_tag("Save", id: "create_lesson") %>
</div>
